:root{
  --clr-dark-grey: #343434;
  --clr-black: #000000;
  --clr-white: #F8F8FF;
  color-scheme: light dark;
}

@media(prefers-color-scheme: dark){
  body{
    color: var(--clr-white);
    background-color: var(--clr-dark-grey);
    border-color: var(--clr-white);
  }
}
@media(prefers-color-scheme: light) {
  body {
    color: var(--clr-black);
    background-color: var(--clr-white);
    border-color: var(--clr-black);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: clamp(0.875rem, 0.875rem + 0.5vw, 1rem);
}

.container{
  width: 90vw;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

footer{
  margin-bottom: 1rem;
}

nav ul{
  display: flex;
  list-style: none;
  gap: clamp(1rem, 4vw, 5rem);
}
nav ul a {
  color: inherit;
}

/* Setup some default sizes that scale with clamp.
   i have just started learning about them.       */
h1 {
  font-size: clamp(1.75rem, 2vw + 1rem, 2.5rem);
}
h2 {
  font-size: clamp(1.5rem, 1.5vw + 1rem, 2rem);
}
h3 {
  font-size: clamp(1.25rem, 1.25vw + 1rem, 1.75rem);
}
h4 {
  font-size: clamp(1.125rem, 1vw + 1rem, 1.5rem);
}
h5 {
  font-size: clamp(1rem, 0.875vw + 1rem, 1.25rem);
}
h6 {
  font-size: clamp(0.875rem, 0.75vw + 1rem, 1rem);
}
button, input, textarea, select, label, a {
    font-size: clamp(0.875rem, 0.875rem + 0.25vw, 1rem);
}


.logo span a {
  font-size: clamp(2rem, 2vw + 1rem, 3rem);
  font-weight: bold;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /
}

.edit-title-container, .edit-author-container, .edit-isbn-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.edit-title-container input[type='text']{
  font-size: clamp(1.75rem, 2vw + 1rem, 2.5rem);
}

.edit-title-container label{
  font-size: clamp(1.75rem, 2vw + 1rem, 2.5rem);
}

.edit-author-container input[type='text']{
  font-size: clamp(1.5rem, 1.5vw + 1rem, 2rem);
}

.edit-author-container label{
  font-size: clamp(1.5rem, 1.5vw + 1rem, 2rem);
}

.edit-isbn-container input[type='text']{
  font-size: clamp(1.25rem, 1.25vw + 1rem, 1.75rem);
}

.edit-isbn-container label{
  font-size: clamp(1.25rem, 1.25vw + 1rem, 1.75rem);
}

span{
  display: block;
}

button{
  padding: 0.5rem 1rem;
}
