:root{
  --clr-dark-grey: #343434;
  --clr-black: #000000;
  --clr-white: #F8F8FF;
  color-scheme: light dark;
}

@media(prefers-color-scheme: dark){
  body{
    color: var(--clr-white);
    background-color: var(--clr-dark-grey);
  }
}
@media(prefers-color-scheme: light) {
  body {
    color: var(--clr-black);
    background-color: var(--clr-white);
  }
}

.container{
  width: 90vw;
  max-width: 1000px;
  margin: 0 auto;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

nav ul{
  display: flex;
  gap: clamp(1rem, 4vw, 5rem);
}

.logo span {
  font-size: clamp(2rem, 2vw + 1rem, 3rem);
  font-weight: bold;
}
